depth=0
# This option is effectively equivalent to --cache-min=9999999.
# Staleness checks for cached data will be bypassed, only missing data will be requested from the server.
prefer-offline=true
ignore-engines=true
shrinkwrap=false